<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://dienigma.github.io">dienigma</a> by
      Chinmay Joshi
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
